.root {
  text-align: center;
}

.post {
  text-align: left;
}

.link {
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  outline: none;
  color: inherit;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}
